[submodule "ext/MPIScheduler"]
	path = ext/MPIScheduler
  branch = master
	url = https://github.com/BenoitMorel/MPIScheduler

[submodule "ext/coraxlib"]
	path = ext/coraxlib
  branch = dev
  url = https://codeberg.org/Exelixis-Lab/coraxlib.git
[submodule "ext/GeneRaxCore"]
	path = ext/GeneRaxCore
	url = https://github.com/BenoitMorel/GeneRaxCore.git
