# files to be ignored

BppCore.tag
CMakeCache.txt
CMakeFiles
*.cmake
Makefile
html
install_manifest.txt
libbpp-core.*

# file to be specifically not ignored by previous rules

!/CTestConfig.cmake
!/cmake/*
